@font-face {
	font-family: sacramento;
	scr: url(sacramento-regular.ttf);
}
* {
	font-family: sacramento;
}

html, body {
	background-image: url("Images/PageBackground.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	font-family: sacramento;
}
h1 {
    font-size: 4em;
	text-shadow: 3px 3px 5px white;
}
#home {
	color: white;
}
h2{
	font-size: 2.5em;
	text-shadow:2px 2px 5px black;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
ul {
	color: rgba(255,255,255,0.75);
	text-align: center;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	padding: 0;
	height:72px;
	width: 100%;
	margin: auto;
}
.bottom {
	font-size: 1.75em;
    bottom: 0;
    overflow: hidden;
}
.nav-bar {
    top: 0;
    
}
li {
	display: inline;
}
a {
	color: rgba(255,255,255,0.75);
	font-size: 2.2em;
	text-align: center;
	padding: 6px 25px;
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: rgb(202,123,128);
}
.active {
	background-color: rgba(0,0,0,0.75);
}
p {
	margin-bottom: 3em;
	margin-right: 3em;
	margin-left: 3em;
	text-align: left;
}

#under-heading {
	text-align: center;
	font-size: 1.5em;
}
#linko {
	color: rgba(255,255,255,0.5);
}
#linko:hover {
	color: white;
	background-color: rgba(202,123,128, 0.75);
}
#background {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-left: 10%;
	margin-right:10%;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(202,123,128);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}